.home-page{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    overflow-x: hidden;
    .text-zone{
        position: relative;
        top: 30%;
        left: 76px;
        width: 50%;
        h1{
            color: #fff;
            font-size: 50px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;

            @media screen and ( max-width: 1000px ) {
                font-size: 30px;
            }
            @media screen and ( max-width: 600px ) {
                font-size: 30px;
            }
            &::before{
                content: "<h1>";
                font-family: "La Belle Aurore", cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -32px;
                left: 4px;
                opacity: 0.6;
                top: 31px;
            
            }
            
            &::after{
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-left: 20px;
                margin-top: 18px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }
        h2{
            color: #8d8d8d;
            margin-top: 20px;
            font-weight: 400;
            font-size: 16px;
            font-family: sans-serif;
            letter-spacing: 3px;
            font-size: 1.4rem;
            animation: fadeIn 1s 1.8s backwards;
            @media screen and ( max-width: 600px) {
                letter-spacing: 1px;
            }
            @media screen and ( max-width: 1100px) {
                letter-spacing: .9px;
            }
        }
    }
    .skill-section{
        color: #fff;
        border: 1px solid;
        // margin: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .skill-container{
        display: grid;
        grid-template-columns: repeat(8, 80px);
    }
    @media screen and ( max-width: 1360px )  {
        .skill-container{
            grid-template-columns: repeat(8, 60px);
        }
    }
    
    @media screen and ( max-width: 1160px )  {
        .skill-container{
            grid-template-columns: repeat(6, 60px);
        }
    }
    
    @media screen and ( max-width: 900px )  {
        flex-direction: column;
        .text-zone{
            width: 100%;
            min-height: 80%;
            h1{
                font-size: 40px;
            }
        }
        .skill-container{
            grid-template-columns: repeat(10, 60px);
        }
        .skill-section{
            width: 80%;
            position: relative;
            left: 70px;
            margin-bottom: 10px;
        }
    }
    
    @media screen and ( max-width: 750px )  {
        .skill-container{
            grid-template-columns: repeat(8, 55px);
        }
    }
    @media screen and ( max-width: 550px )  {
        .skill-section{
            width: 75%;
        }
        .skill-container{
            grid-template-columns: repeat(6, 60px);
        }
    }
    @media screen and ( max-width: 450px )  {
        .skill-section{
            width: 75%;
        }
        .skill-container{
            grid-template-columns: repeat(5, 60px);
        }
    }
}

.flat-button{
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    
    
    &:hover {
        background: #ffd700;
        opacity: 0.32;
        color: rgb(0, 0, 0);
    }
}
